
{% extends 'accounts/base.html' %}
{% load static %}
{% block body_block %}

<section class="fan-dashboard section">
    <div class="container">
      <h2 class="dashboard-title">Welcome to Your Fan Dashboard</h2><br>
      <p class="dashboard-subtitle">Stay connected with your favorite teams and players</p><br>
  
      <!-- Latest Tournament Updates -->
      <div class="dashboard-section">
        <h3>Latest Tournament Updates</h3><br>
        <ul class="tournament-updates">
          <li><a href="#">Sixers Premier League 2024 - Quarterfinals Recap</a></li>
          <li><a href="#">Top Performers of the Week: Batsman & Bowler Highlights</a></li>
          <li><a href="#">Fan Voting Now Open for 'Player of the Month'</a></li>
          <li><a href="#">Exclusive Interviews: Catch up with the Sixers Stars</a></li><br>
        </ul>
      </div>

    </div>
  </section>
{% endblock %}