{% extends 'accounts/base.html' %}{% load static %} {% block body_block %}

<div class="breadcrumbs overlay">
  <div class="container">
    <div class="bread-inner">
      <div class="row">
        <div class="col-12">
          <h2>Login / Register</h2>
          <ul class="bread-list">
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><i class="icofont-simple-right"></i></li>
            <li class="active">Login</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Start Login & Register -->
<!-- Start Login -->
<section class="login section">
  <div class="container">
    <div class="inner">
      <div class="row">
        <div class="col-lg-6">
          <div class="login-left">
            <img
              src="{% static 'accounts/images/login-image.jpg' %}"
              alt="SixersClub Login"
            />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="login-form">
            <h2>Login to Your Account</h2>
            <p>Enter your credentials to access your SixersClub account</p>

            <!-- Displaying error messages if any -->
            {% if messages %}
            <div class="alert alert-danger">
              {% for message in messages %}
              <strong>Error!</strong> {{ message }}
              {% endfor %}
            </div>
            {% endif %}

            <!-- Login Form -->
            <form class="form" method="post" action="{% url 'login' %}">
              {% csrf_token %}
              
              <!-- Username Field -->
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    <!-- Display errors for username if any -->
                    {% if form.username.errors %}
                    <div class="text-danger">{{ form.username.errors }}</div>
                    {% endif %}
                  </div>
                </div>

                <!-- Password Field -->
                <div class="col-lg-12">
                  <div class="form-group">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    <!-- Display errors for password if any -->
                    {% if form.password.errors %}
                    <div class="text-danger">{{ form.password.errors }}</div>
                    {% endif %}
                  </div>
                </div>

                <!-- Remember Me Checkbox -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <div class="checkbox">
                      <label class="checkbox-inline" for="remember_me">
                        <input
                          name="remember_me"
                          id="remember_me"
                          type="checkbox"
                        />
                        Remember me
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Submit Button -->
              <div class="row">
                <div class="col-lg-12">
                  <button type="submit" class="btn">Login Now</button>
                </div>
              </div>

              <!-- Link to Signup -->
              <div class="text-center">
                <br><p>Don't Have an Account? <a href="{% url 'register_type' %}">Signup</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End Login & Register -->

<!-- Start Call to Action -->
<section class="call-action overlay" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-12">
        <div class="content">
          <h2>Join the SixersClub Cricket Community Today!</h2>
          <p>
            Register now to participate in tournaments, manage your team, or
            follow your favorite players.
          </p>
          <div class="button">
            <a href="#" class="btn">Explore Tournaments</a>
            <a href="#" class="btn second">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Call to Action -->

{% endblock %}
