{% extends 'tournaments/base.html' %}

{% block body_block %}
<div class="registration-form">
    <h2>Individual Registration</h2>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Register Interest</button>
    </form>
</div>
{% endblock %}
