{% extends 'tournaments/base.html' %}

{% block content %}
<div class="registration-form">
    <h2>Team Registration</h2>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        {% if form.cleaned_data.player_ids %}
            <h3>Players:</h3>
            <ul>
                {% for player_id in form.cleaned_data.player_ids %}
                    {% with player=player_id|add:"" %}
                        {% if player %}
                            <li>
                                {{ player.username }} (Role: {{ player.role }}, Experience Level: {{ player.experience_level }})
                            </li>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </ul>
        {% endif %}
        <button type="submit" class="btn btn-primary">Register Team</button>
    </form>
</div>
{% endblock %}
