{% extends 'tournament/base.html' %} {% load static %} {% block body_block %}

<link
  href="{% static 'tournament/css/styles.css' %}"
  rel="stylesheet"
  type="text/css"
/>

<section class="Feautes section">
  <div class="container">
  </div>
</section>

<article>
  <section class="card">
    <div class="text-content">
      <h3>T20 Blast</h3>
      <p>
        Fast-paced, action-packed cricket. Join the excitement of T20 Blast and
        showcase your skills in this thrilling format.
      </p>
      <a href="#">Join now</a>
    </div>
  </section>

  <section class="card">
    <div class="text-content">
      <h3>ODI Series</h3>
      <p>
        Experience the perfect balance of strategy and endurance in One Day
        International cricket. Compete in thrilling series.
      </p>
      <a href="#">Join now</a>
    </div>
  </section>

  <section class="card">
    <div class="text-content">
      <h3>Test Championship</h3>
      <p>
        The ultimate test of skill, patience, and strategy. Prove your worth in
        the most challenging format of the game.
      </p>
      <a href="#">Join now</a>
    </div>
  </section>

  <section class="card">
    <div class="text-content">
      <h3>Junior League</h3>
      <p>
        Nurture young talent and build a strong foundation. Join our Junior
        League to develop the next generation of cricket stars.
      </p>
      <a href="#">Join now</a>
    </div>
  </section>
</article>

<section class="Feautes section">
    <div class="container">
    </div>
  </section>
{% endblock %}
