
{% extends 'tournament/base.html' %}

{% block body_block %}
<div class="container mt-4">
    <h2>Register for {{ tournament.name }}</h2>
    <form method="post">
        {% csrf_token %}
        <h3>Team Information</h3>
        {{ team_form.as_p }}
        
        <h3>Player Information</h3>
        {{ player_formset.management_form }}
        {% for form in player_formset %}
            <div class="player-form">
                <h4>Player {{ forloop.counter }}</h4>
                {{ form.as_p }}
            </div>
        {% endfor %}
        
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
{% endblock %}